.all {
  height: 100%;
  width: 100%;
  background-image: url("https://i.postimg.cc/T2Q5TQyQ/botten-slider-70.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
